@charset "utf-8";
/* CSS specifico del progetto */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



/*Caratteri*/
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*TESTI PRINCIPALI*/
p {
    font-size: 20px;
    color: #033300;
    text-align: center;
    justify-content: center;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    font-weight: 300;
}

h5 {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    font-weight: 300;
}

/*TITOLI*/
h1 {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    font-weight: 400;
}

/*BOTTONI*/
h2 {
    font-size: 15px;
    color: #033300;
    text-align: center;
    justify-content: center;
    font-weight: 300;
}

/*TITOLI LILLA*/
h3 {
    font-size: 25px;
    color: #A09BC6;
    text-align: center;
    justify-content: center;
    font-weight: 400;
}

/*PRIVACY*/
h6 {
    font-size: 10px;
    color: #033300;
    text-align: center;
    justify-content: center;
    font-weight: 300;
}

/*Links*/
a:link {
    text-decoration: none;
    color: #033300;
    padding-bottom: 20px;
}

/*Navbar*/
nav#main-nav {
    width: 393px;
    height: 169px;
    align-items: center;
    align-content: center;
    text-align: center;
}


/*Pulsanti*/
button {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-align: center;
    color: #033300;
    border-radius: 26px;
    background-color: #E0ECB4;
    border: 2px none;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    width: 128px;
    height: 52px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.button-base {
    width: 128px;
    height: 52px;
    background-color: #E0ECB4;
    margin: 70px 70px 70px 70px;
}

.button-mappa {
    width: 128px;
    height: 52px;
    background-color:  #E0ECB4;
    margin: 20px 20px 20px 20px;
}
.button-base_grande {
    width: 190px;
    height: 52px;
    background-color: #E0ECB4;
    margin: 180px;
}

.button-base_grande_due {
    width: 190px;
    height: 52px;
    background-color: #CECAEA;
    margin: 198px;
}

.button-segnalazione {
    width: 312px;
    height: 35px;
    background-color: #033300;
    border-radius: 0px;
    margin: 5px 10px 5px 10px;
    font-family: 'Roboto', sans-serif;
    text-align:justify;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.button-indietro {
    width: 48px;
    height: 48px;
    background-color: #E0ECB4;
    border-radius: 50px;
    margin: 0px 24px 0px 24px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;

}

.button-vai {
    width: 48px;
    height: 48px;
    background-color: #CECAEA;
    border-radius: 50px;
    margin: 0px 24px 0px 24px;
    font-family: 'Roboto', sans-serif;
}

div#button_vai{
    width: 393px;
    height: 48px;
    margin-top: -228px;
    margin-right: -580px;
}



button {
    height:48px;
    width: 287px;
    border-radius: 0px;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin: 15px 10px 0px 40px;
    border-radius: 26px;
}

.button-menu {
    margin-top: 35px;
}

.button-menudue {
    height:85px;
    width: 287px;
    align-items: center;
    justify-content: center;
    padding-top: 0.5%;
    padding-left: 0%;
}


/*Immagini*/
img{
    margin: 0px 0px 0px 0px;
}


/*Pagina Splash*/
main#splash {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
}


/*Home*/
main#home {
    width: 100vw;
    height: 100vh;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;
}

/*.container {
    position: relative;
    width: 50%;
    min-width: 400px; 
}

.container img {
    width: 100vw;
    height: 100vh;
}

.container .button-base_grande {
    position: absolute;
    top: 220px;
    left: 130px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px;
    border-radius: 26px;
    width: 190px;
    height: 52px;
    background-color: #E0ECB4;
    margin: -5px 70px -5px 70px;
}

.container .button-base_grande_due {
    position: absolute;
    top: 650px;
    left: 130px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px;
    border-radius: 26px;
    width: 190px;
    height: 52px;
    background-color: #CECAEA;
    margin: -5px 70px -5px 70px;
}
*/

/*Scatta selfie*/
main#selfie {
    padding: 20px 1%;
    max-width: 393px;
    max-height: 852px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

#titolo_selfie-text {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

#selfie-text {
    max-width: 312px;
    margin-top: 40px;
    margin-bottom: 1px;
}

#scattaimg {
    margin: 25px 10px 0px 10px;
}


/*Registrazione utente*/
main#utente {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#utente-titolo {
    text-align: center;
    width: 100%;
    margin-top: 190px;
}

#utente-text {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

input[type=text] {
    width: 312px;
    height: 52px;
    margin-top: 20px;
    font-size: 15px;
    color: #b2b2b2;;
    background-color: #ffffff;
    text-align: center;
    border: none;
    font-style: italic;
}

/*Intro percorsi*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    width: 393px;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#text_intro {
    width: 314px;
    height: 144px;
    margin: auto;
}

#myBtn {
    width: 190px;
    height: 52px;
    background-color: #E0ECB4;
    margin: auto;
    margin-top: 250px;
}


/*Scelta percorso*/
#scelta_percorso-text {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=radio] {
    display: none;
}

label.lab {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 2px solid #E0ECB4;
    border-radius: 50%;
    margin: 4px;
}

label.lab:hover {
    background-color: #E0ECB4;
}

label.lab-sel {
    background-color: #E0ECB4;
    box-shadow: 0 0 2px #E0ECB4;
}

section#paginazione {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

section#pagine {
    width: 500vw;
    height: 100vh;
    display: flex;
}

section#pagine > div {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .8s ease-in-out;
}


#page1 {
    background-image: url('Immagini/background_faggi.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

#page2 {
    background-image: url('Immagini/background_querce.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

#page3 {
    background-image: url('Immagini/background_pini.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

#page4 {
    background-image: url('Immagini/background_castagni.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

#page5 {
    background-image: url('Immagini/background_flora_lago.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

input#inp1:checked ~ div#page1 {
    margin-left: 0;
}

input#inp2:checked ~ div#page1 {
    margin-left: -20%;
}

input#inp3:checked ~ div#page1 {
    margin-left: -40%;
}

input#inp4:checked ~ div#page1 {
    margin-left: -60%;
}

input#inp5:checked ~ div#page1 {
    margin-left: -80%;
}



/*Percorso faggi*/
main#percorso_faggi {
    padding: 20px 1%;
    max-width: 393px;
    max-height: 852px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

#bottoni_percorso {
    max-width: 393px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#mappaimg {
    margin-top: 15px;
}


/*Prima tappa*/
main#prima_tappa {
    padding: 30px 1%;
    max-width: 393px;
    max-height: 852;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;
}

#tappa-text {
    max-width: 312px;
    margin-top: 50px;
    margin-bottom: 20px;
}


/*Tronco cavo*/
main#tronco_cavo {
    padding: 20px 1%;
    max-width: 393px;
    max-height: 852;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;
}

#titolo_faggio-text {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

#tronco-text {
    text-align: justify;
    max-width: 312px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #033300;
    padding: 5%;
}

#schedaimg {
    margin: 25px 10px 0px 10px;
}


/*Segnalazione*/
main#segnalazione {
    padding: 20px 1%;
    max-width: 393px;
    max-height: 852;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;
}

#segnalazione-text {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
}

#scattaimg {
    margin: 25px 10px 0px 10px;
}

input[type=text-segnalazione] {
    width: 312px;
    height: 35px;
    margin: 5px auto 60px;
    font-size: 15px;
    color:#FFFFFF;
    background-color: #033300;
    text-align: center;
    border: none;
    font-style: italic;
}


/*Fine percorso*/
main#fine {
    padding: 20px 1%;
    max-width: 393px;
    max-height: 852;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;
}

#fine-text {
    max-width: 312px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#fineimg {
    margin: 0px 0px 20px 0px;
}


/*Privacy*/
main#privacy {
    padding: 20px 1%;
    max-width: 393px;
    max-height: 852;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;
}

#titolo_e_freccia {
    width: 393px;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    align-content: left;
    text-align: left;
    justify-content: space-between;
}

#privacy-text {
    text-align: left;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 75px;
}

#testoprivacy-text {
    text-align: justify;
    width: 316px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#frecciaimg {
    margin: 0px 0px 0px 0px;
}


/*Termini e condizioni*/
main#termini_e_condizioni {
    padding: 20px 1%;
    max-width: 393px;
    max-height: 852;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;
}

#titolo_e_freccia {
    width: 393px;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    align-content: left;
    text-align: left;
    justify-content: space-between;
}

#termini-text {
    text-align: left;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 20px;
}

#testotermini-text {
    text-align: justify;
    width: 316px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#frecciaimg {
    margin: 1px 1px 1px 1px;
}


/*Impostazioni*/
#menuiimg {
    align-items: flex-end;
}

div#main-menu {
    width: 100%;
    height: 109px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    bottom:0;
    position: absolute;
}


div ul {
    list-style: none;
    height: 419px;
    width: 100%;
    background-color: #CECAEA;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%
}

#cameraFileInput {
    display: none;
}