@charset "utf-8";
/* CSS specifico del progetto */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
    justify-content: center;
    align-items: center;
    background-color: #F5F7FF;
    height: 852px;
    width: 393px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #4C3151;
}



p::selection, span::selection, p a:link::selection {
    background-color: #F5F7FF;
    color: #4C3151;
}


/*Caratteri*/
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*TESTI PRINCIPALI*/
p {
    font-size: 15px;
    color: #4C3151;
    text-align: center;
    justify-content: center;
    font-weight: 300;
}

/*TESTI PRINCIPALI EVIDENZIATI*/
h1 {
    font-size: 25px;
    color: #4C3151;
    text-align: center;
    justify-content: center;
    font-weight: 400;
}

/*BOTTONI e SEGNALAZIONI*/
h2 {
    font-size: 15px;
    color: #F5F7FF;
    text-align: center;
    justify-content: center;
    font-weight: 300;
}

/*SCHERMATA INIZIALE */
h3 {
    font-size: 20px;
    color: #4C3151;
    text-align: center;
    justify-content: center;
    font-weight: 300;
}


/*SCHERMATA PERCORSI */
h4 {
    font-size: 12px;
    color: #4C3151;
    text-align: center;
    justify-content: center;
    font-weight: 300;
}

h5 {
    font-size: 20px;
    color: #4C3151;
    text-align: center;
    justify-content: center;
    font-weight: 400;
}


/*Links*/
a:link {
    text-decoration: none;
    color: #4C3151;
    padding-bottom: 20px;
}

/*Navbar*/
nav#main-nav {
    width: 100%;
    height: 169px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background-color: #74B7A9;
    text-align: center;
}




/*Pulsanti*/
button {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-align: center;
    color: #D5A2E3;
    border-radius: 26px;
    background-color: #D5A2E3;
    border: 2px none;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    width: 128px;
    height: 52px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.button-base {
    width: 128px;
    height: 52px;
    background-color: #D5A2E3;
    margin: 70px 70px 70px 70px;
}

.button-mappa {
    width: 128px;
    height: 52px;
    background-color: #D5A2E3;
    margin: 20px 20px 20px 20px;
}

.button-base_grande {
    width: 190px;
    height: 52px;
    background-color: #D5A2E3;
    margin: -5px 70px 70px 70px;
}

.button-percorso {
    width: 312px;
    height: 98px;
    background-color: #D0F2EB;
    border-radius: 0px;
    margin: 10px 10px 10px 10px;
    font-family: 'Roboto', sans-serif;
    text-align:justify;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
}



/*Immagini*/
img{
    margin: 8px 10px 0px 10px;
}


/*Home*/
main#home {
    padding: 50px 1%;
    max-width: 393px;
    max-height: 852;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;
}
#home-text {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

input[type=text] {
    width: 312px;
    height: 52px;
    margin: 66px auto;
    font-size: 15px;
    color:#4C3151;
    background-color: #D0F2EB;
    text-align: center;
    border: none;
    font-style: italic;
}


/*Scelta percorso*/
main#scelta_percorso {
    padding: 30px 1%;
    max-width: 393px;
    max-height: 852;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;
}

#scelta_percorso-text {
    text-align: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}

#percorso-text {
    text-align: right;
    width: 207px;
}

/*Percorso faggi*/
main#percorso_faggi {
    padding: 30px 1%;
    max-width: 393px;
    max-height: 852;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;
}

#bottoni_percorso {
    max-width: 393px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

/*Pagina Splash*/
main#splash {
    margin-top: 119px;
    padding: 70px 10%;
    max-width: 393px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Tronco cavo*/
main#tronco_cavo {
    padding: 20px 1%;
    max-width: 393px;
    max-height: 852;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;
}

#titolo_faggio-text {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

#tronco-text {
    text-align: justify;
    max-width: 312px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #D0F2EB;
    padding: 5%;
}

#schedaimg {
    margin: 25px 10px 0px 10px;
}

